@import "_nullstyle.scss";

//! сделать чтобы удаленные вопросы типо выдвигались слева лэзи лоэд
//! поработать с аустыми падингами

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 500px;
    margin: 0px auto;
    padding: 0px 10px;
}
body {
    font-size: 24px;
}
.to-do-list {
        display: flex;
        flex-direction: column;
        margin: 100px 0px 0px 0px;
		// .to-do-list__title

		&__title {
            font-size: clamp(2.75rem, 2.625rem + 0.63vw, 3.375rem);
            text-align: center;
            margin: 0px 0px 20px 0px;
		}

        // .to-do-list__date

        &__date {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 0px 0px 3px 0px;
            font-size: 17px;
            color: rgba(0,0,0,0.3);
            opacity: 0;
            transition: all 1s ease 1s;
        }
        &__date.visible {
            opacity: 1;
        }

        // .to-do-list__day-month-year

        &__day-month-year {
        }

        // .to-do-list__time

        &__time {
        }
    
		// .to-do-list__add-task

		&__add-task {
            position: relative;
            z-index: 1;
            margin: 0px 0px 15px 0px;
            transform: translate(0px, 35px);
            opacity: 0;
            transition: all 1s ease 0s;
		}

        .add-task.visible {
            transform: translate(0px, 0px);
            opacity: 1;
        }

		// .to-do-list__tasks

		&__tasks {
            z-index: 2;
		}
}


.add-task {
    display: flex;
    border-radius: 25px;
    overflow: hidden;
    // .add-task__input

    &__input {
        font-size: 20px;
        background-color: transparent;
        width: 100%;
        background-color: lightgrey;
        padding: 10px 15px;
    }

    // .add-task__btn

    &__btn {
        font-size: 25px;
        width: 50px;
        aspect-ratio: 1 / 1;
        line-height: 0px;
    }
}

.tasks {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 7px;
    padding: 15px 10px 10px 10px;
    transition: all 0.3s ease 0s;
    max-height: 500px;
    overflow: auto;

    // .tasks__title

    &__title {
        text-align: center;
        margin: 0px 0px 30px 0px;
        position: relative;
        &::after {
            content: " ";
            position: absolute;
            bottom: -7px;
            left: 30px;
            right: 30px;
            height: 2px;
            background-color: rgba(0,0,0,0.5);
        }
    }

    // .tasks__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 0px 0px 10px 0px;
    }

    // .tasks__comleted

    &__completed {

    }

    // .tasks__task

    &__task {
    }
}

.completed-tasks {

    // .completed-tasks__header

    &__header {
        display: flex;
        justify-content: space-between;
        color: grey;
        font-size: 18px;
        position: relative;
        &::after {
            content: " ";
            position: absolute;
            height: 1px;
            bottom: -5px;
            left: 0px;
            right: 0px;
            background-color: rgba(0,0,0,0.2);
        }
        margin: 0px 0px 10px 0px;
    }

    // .completed-tasks__title

    &__title {
    }

    // .completed-tasks__list

    &__list {
        padding: 0px;
        max-height: 0px;
        overflow: hidden;
        transition: all 0.8s ease 0s;
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 13px;
        .task__date, .task__description, .task__delete-btn {
            display: none;
        }
        .task__header::after {
            opacity: 0;
        }
        .task__title {
            position: relative;
            &::after {
                content: " ";
                position: absolute;
                top: 50%;
                left: -3px;
                right: -3px;
                height: 2px;
                background-color: rgba(0,0,0,0.7);
            }
        }

    }

    .show {
        max-height: 500px;
        padding: 10px 10px 1px 10px;
        font-size: 20px;
    }
}



.task { 
    padding: 5px 5px 0px 5px;
    background-color: white;
    transition: background-color 0.3s ease 0s;
    @media (any-hover: hover) {
        &:hover {
            background-color: rgba(0,0,0,0.1);;
        }
    }
    .display-none {
        display: none;
    }

    position: relative;
    // .task__header

    &__header {
        display: flex;
        gap: 10px;
        align-items: center;
        position: relative;
        &::after {
            content: " ";
            // opacity: 0;
            transition: all 0.3s ease 0s;
            position: absolute;
            top: 50%;
            left: -3px;
            right: calc(100% + 3px);
            height: 2px;
            background-color: black;
        }
        &.deleted {
            &::after {
                z-index: 11;
                // opacity: 1;
                right: -3px;
            } 
        }
    }

    // .task__title

    &__title {
        word-break: break-all;
    }

    // .task__date

    &__date {
        font-size: 18px;
        padding: 2px 7px;
        border: 1px solid grey;
        border-radius: 45px;
        background-color: rgb(227, 225, 225);
        color: grey;
    }

    // .task__delete-btn

    &__delete-btn {
        margin: 0px 0px 0px auto;
        padding: 3px 6px;
        font-size: 23px;
        position: relative;
        z-index: 10;
        border-radius: 15px;
    }

    // .task__footer

    &__footer{
        
    }

    // .task__description

    &__description {
        font-size: 18px;
        padding: 5px 20px 5px 20px;
        color: gray;
        word-break: break-all;
    }

    // .task__description-reduced

    &__description-reduced{
        display: none;
    }
}

.drag {
    position: absolute;
    top: 0;
    left: 0;
}

.popup {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.8s ease 0s;
    
    // .popup__body

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
    }

    // .popup__content

    &__content {
        flex: 0 1 600px;
        background-color: white;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        padding: 30px clamp(0.938rem, 0.382rem + 2.78vw, 2.5rem);
        position: relative;
        opacity: 0;
        transition: all 0.3s ease 0s;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    }

    // .popup__task-title

    &__task-title {
        border: 1px solid rgba(0,0,0,0.3);
        border-radius: 25px;
        font-size: 24px;
        padding: 10px;
    }

    // .popup__task-description

    &__task-description {
        padding: 10px;
        font-size: 24px;
        border: 1px solid rgba(0,0,0,0.3); 
        background-color: rgba(0,0,0,0.1);
        border-radius: 10px;
        color: rgba(0,0,0,0.5);
    }

    // .popup__date-picker

    &__date-picker {
        display: flex;
        width: fit-content;
        align-self: center;
        overflow: hidden;
        // border-radius: 15px;
        // border: 1px solid #000;
        border-radius: 25px;
        margin: 0px 0px 15px 0px;

        .active {
            background-color: rgba(128, 128, 128, 0.668);
        }
    }

    // .popup__date-btn

    &__date-btn {
        font-size: 20px;
        padding: 10px clamp(0.625rem, 0.403rem + 1.11vw, 1.25rem);
        border-right: 1px solid grey;
        &:last-child {
            border-right: 0px;
        }
    }

    // .popup__close

    &__close {
        font-size: 45px;
        position: absolute;
        top: -12px;
        right: 0px;
        background-color: transparent;
        transform: rotate(45deg);
    }

    // .popup__add

    &__add {
        font-size: 24px;
        margin: auto 0px 0px 0px;
        padding: 10px 0px;
    }

}

.open {
    visibility: visible;
    opacity: 1;
    .popup__content {
        opacity: 1;
        transform: perspective(600px) translate(0px, 0px) rotateX(0deg);
    }
}