@import "_nullstyle.scss";

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}
.container {
    max-width: 500px;
    margin: 0px auto;
}
body {
    font-size: 24px;
}
.to-do-list {
        display: flex;
        flex-direction: column;
        margin: 100px 0px 0px 0px;
		// .to-do-list__title

		&__title {
            font-size: 54px;
            text-align: center;
            margin: 0px 0px 20px 0px;
		}

		// .to-do-list__add-task

		&__add-task {
            
		}

		// .to-do-list__tasks

		&__tasks {
		}
}


.add-task {
    display: flex;
    justify-content: space-between;
    // .add-task__input

    &__input {
        font-size: 20px;
        background-color: transparent;
        width: 100%;
        background-color: lightgrey;
        padding: 10px 15px;
    }

    // .add-task__btn

    &__btn {
        padding: 20px;
        font-size: 20px;
    }
}

.tasks {
    border: 1px solid #000;
    padding: 15px 10px;

    // .tasks__title

    &__title {
        text-align: center;
        margin: 0px 0px 15px 0px;
    }

    // .tasks__list

    &__list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    // .tasks__task

    &__task {
    }
}

.task {
    display: flex;
    gap: 10px;
    align-items: center;
    // .task__title

    &__title {
        flex: 1 0;
    }

    // .task__edit-btn

    &__edit-btn {
    }

    // .task__delete-btn

    &__delete-btn {
    }

    button {
        padding: 10px;
    }
}

